p { color: royalblue (18,14,250);
background-color : #120EFA;
text-indent: 30px;
text-decoration: wavy rgb(rgb(72, 255, 0), rgb(0, 255, 242), rgb(25, 0, 255));
text-align: center;
text-transform: capitalize;
line-height: 50px;} 