body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #444444;
    box-sizing: border-box;
  }
  .header {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    display: flex;
  }
  .header-title {
    margin: 0;
  }
  .header-welcome {
    margin: 0;
    color: #95a3b4;
  }
  .right-header {
    display: flex;
    align-items: center;
    margin-left: 50%;
  }
  .header-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0px 7px 30px -10px rgba(132, 164, 180, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-photo {
    height: 60px;
    width: 60px;
  }
  
  .right-header > div {
    margin: 0 15px;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
  }
  .left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 501px;
    height: 83px;
    top: 254px;
    left: 124px;
  }
  .recent-title {
    color: #444444;
    font-size: 22px;
    margin: 0;
  }
  .recent-date {
    color: #95a3b4;
  }
  .expense-item {
    box-shadow: 0px 7px 30px -10px rgba(150, 170, 180, 0.3);
    border-radius: 7px;
    display: flex;
  }
  .expense-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
  }
  .expense-icon {
    height: 60px;
    width: 60px;
    margin-right: 30px;
  }
  .expense-title {
    color: #444444;
    font-size: 17px;
    font-weight: 500;
  }
  .expense-status{
    display: flex;
    align-items: center;
    height: 30px;
  }
  .expense-type{
    color: #95A3B4;
    margin-right: 20px;
  }
  .bill{
    color: #0B69FF;
    font-size: 10px;
    border: 1px solid #0B69FF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2px 10px;
  }
  .expense-price{
    color: #F62F4A;
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
  }
  