h1 {
    border: 3px solid red;
    background-color: blue;
    color: ;
    padding: 10px;
}
p {
    width: 600px;
    height: 400px;
    border: 2px dotted red;
    background: yellow;
    margin: 50px;
}
a {
    border-bottom:3px dashed red ;
    background-color: orange;
}